name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Check Area Function
      id: check-area-function
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Check Area Function
        setup-command: ''
        command: pytest tests/test_main.py
        timeout: 60
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CHECK-AREA-FUNCTION_RESULTS: "${{steps.check-area-function.outputs.result}}"
      with:
        runners: check-area-function
